In [6]:
import pandas as pd
import numpy as np
from datetime import datetime
print(datetime.strptime('2017-11-07 09:30:38', '%Y-%m-%d %H:%M:%S'))

2017-11-07 09:30:38

In [2]:
df = pd.read_csv('train_sample.csv')
df

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0
5,93663,3,1,17,115,2017-11-09 01:22:13,NaN,0
6,17059,1,1,17,135,2017-11-09 01:17:58,NaN,0
7,121505,9,1,25,442,2017-11-07 10:01:53,NaN,0
8,192967,2,2,22,364,2017-11-08 09:35:17,NaN,0
9,143636,3,1,19,135,2017-11-08 12:35:26,NaN,0
10,73839,3,1,22,489,2017-11-08 08:14:37,NaN,0
11,34812,3,1,13,489,2017-11-07 05:03:14,NaN,0
12,114809,3,1,22,205,2017-11-09 10:24:23,NaN,0
13,114220,6,1,20,125,2017-11-08 14:46:16,NaN,0
14,36150,2,1,13,205,2017-11-07 00:54:09,NaN,0
15,72116,25,2,19,259,2017-11-08 23:17:45,NaN,0
16,5314,2,1,2,477,2017-11-09 07:33:41,NaN,0
17,106598,3,1,20,280,2017-11-09 03:44:35,NaN,0
18,72065,20,2,90,259,2017-11-06 23:14:08,NaN,0
19,37301,14,1,13,349,2017-11-06 20:07:00,NaN,0
20,28735,12,1,19,265,2017-11-09 09:55:22,NaN,0
21,66918,64,1,25,459,2017-11-08 17:01:58,NaN,0
22,25761,9,1,10,215,2017-11-08 02:05:37,NaN,0
23,8362,7,1,19,101,2017-11-07 10:30:00,NaN,0
24,45257,3,1,18,280,2017-11-07 01:35:31,NaN,0
25,145896,64,1,13,459,2017-11-07 03:58:58,NaN,0
26,162976,3,1,13,115,2017-11-07 16:19:05,NaN,0
27,52432,1,1,13,115,2017-11-07 17:22:52,NaN,0
28,135690,12,1,40,122,2017-11-07 06:39:04,NaN,0
29,139137,12,1,13,497,2017-11-07 10:11:50,NaN,0
...,...,...,...,...,...,...,...,...
99970,57451,3,1,6,130,2017-11-09 13:35:55,NaN,0
99971,22529,3,1,22,173,2017-11-08 00:30:44,NaN,0
99972,118977,15,1,25,245,2017-11-07 05:02:52,NaN,0
99973,153487,2,1,42,477,2017-11-09 00:59:38,NaN,0
99974,13487,14,1,19,379,2017-11-08 08:08:40,NaN,0
99975,34029,14,1,13,467,2017-11-09 15:32:57,NaN,0
99976,6908,14,1,18,123,2017-11-07 22:59:12,NaN,0
99977,5788,18,1,58,439,2017-11-09 14:22:21,NaN,0
99978,190943,7,1,13,101,2017-11-09 11:47:49,NaN,0
99979,19162,9,1,37,489,2017-11-09 11:19:28,NaN,0
99980,111025,14,1,41,349,2017-11-08 12:58:11,NaN,0
99981,15651,10,1,1,377,2017-11-09 06:50:25,NaN,0
99982,5314,12,1,41,259,2017-11-09 02:09:20,NaN,0
99983,51379,3,1,41,135,2017-11-07 01:48:00,NaN,0
99984,185961,27,1,13,122,2017-11-07 05:02:01,NaN,0
99985,61500,3,1,10,280,2017-11-09 01:50:53,NaN,0
99986,119614,2,1,19,219,2017-11-07 11:27:54,NaN,0
99987,41851,11,1,28,319,2017-11-08 13:19:42,NaN,0
99988,69449,6,1,13,125,2017-11-09 13:53:30,NaN,0
99989,92730,3,1,19,379,2017-11-07 11:02:08,NaN,0
99990,84388,9,1,22,107,2017-11-09 04:21:28,NaN,0
99991,43374,1,1,18,134,2017-11-09 12:42:34,NaN,0
99992,125061,12,1,13,328,2017-11-07 09:33:14,NaN,0
99993,146258,3,1,13,280,2017-11-09 03:03:17,NaN,0
99994,147153,13,1,13,477,2017-11-07 07:34:13,NaN,0
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0

In [7]:
df['time_to_attribution'] = df.apply(lambda row: datetime.strptime(row['attributed_time'], '%Y-%m-%d %H:%M:%S') - datetime.strptime(row['click_time'], '%Y-%m-%d %H:%M:%S') if isinstance(row['attributed_time'], str) else '', axis=1)

In [11]:
df.loc[df['time_to_attribution'] != '']

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,time_to_attribution
284,224120,19,0,29,213,2017-11-08 02:22:13,2017-11-08 02:22:38,1,0:00:25
481,272894,10,1,7,113,2017-11-08 06:10:05,2017-11-08 06:10:37,1,0:00:32
1208,79001,19,0,0,213,2017-11-07 09:54:22,2017-11-07 11:59:05,1,2:04:43
1341,131029,19,0,0,343,2017-11-09 10:58:46,2017-11-09 11:52:01,1,0:53:15
1412,40352,19,0,0,213,2017-11-07 22:19:03,2017-11-08 01:55:02,1,3:35:59
1666,48733,35,1,18,274,2017-11-07 12:25:50,2017-11-07 13:10:30,1,0:44:40
1771,330861,35,1,22,21,2017-11-08 18:54:44,2017-11-08 22:39:52,1,3:45:08
1917,309576,5,1,32,113,2017-11-09 08:47:51,2017-11-09 08:47:55,1,0:00:04
3914,220571,71,1,25,3,2017-11-08 04:35:21,2017-11-08 04:37:46,1,0:02:25
3992,240051,35,1,19,21,2017-11-08 08:07:13,2017-11-08 09:46:42,1,1:39:29
4300,110652,19,16,0,213,2017-11-09 08:15:34,2017-11-09 09:30:19,1,1:14:45
4424,252612,5,1,31,113,2017-11-07 20:21:11,2017-11-07 20:21:42,1,0:00:31
4564,48072,19,21,24,213,2017-11-07 05:17:29,2017-11-07 06:49:01,1,1:31:32
4603,12506,62,1,19,21,2017-11-08 05:56:57,2017-11-08 08:56:58,1,3:00:01
4607,184467,35,1,30,274,2017-11-07 22:29:06,2017-11-08 00:16:14,1,1:47:08
4766,202255,5,1,27,113,2017-11-07 03:59:38,2017-11-07 04:00:09,1,0:00:31
4781,182552,19,30,0,213,2017-11-07 07:44:06,2017-11-07 07:56:49,1,0:12:43
5111,303875,71,1,19,3,2017-11-09 15:13:48,2017-11-09 15:17:13,1,0:03:25
5551,286187,29,1,18,213,2017-11-08 14:04:39,2017-11-08 14:35:39,1,0:31:00
6330,303017,10,1,32,113,2017-11-09 07:37:41,2017-11-09 07:38:10,1,0:00:29
6603,267281,72,1,17,101,2017-11-07 23:09:28,2017-11-07 23:12:03,1,0:02:35
6929,307483,9,1,22,442,2017-11-08 20:00:28,2017-11-09 08:52:49,1,12:52:21
7789,199419,10,1,61,113,2017-11-07 07:55:23,2017-11-07 07:55:54,1,0:00:31
7874,58560,35,1,19,21,2017-11-07 03:19:07,2017-11-07 03:38:32,1,0:19:25
8142,243446,10,1,61,113,2017-11-08 10:36:52,2017-11-08 10:37:23,1,0:00:31
8147,85928,19,0,0,213,2017-11-09 09:26:51,2017-11-09 09:44:00,1,0:17:09
8434,32247,18,1,20,134,2017-11-08 00:43:56,2017-11-08 00:48:35,1,0:04:39
8862,22109,11,1,19,487,2017-11-07 01:04:23,2017-11-07 01:19:12,1,0:14:49
9277,118252,19,957,59,213,2017-11-07 13:19:35,2017-11-07 13:22:10,1,0:02:35
10013,254101,19,33,29,213,2017-11-08 14:24:03,2017-11-08 14:25:07,1,0:01:04
...,...,...,...,...,...,...,...,...,...
85366,336297,19,0,21,213,2017-11-08 21:04:30,2017-11-08 21:06:07,1,0:01:37
85869,42074,19,0,0,213,2017-11-08 23:44:31,2017-11-08 23:45:22,1,0:00:51
86631,308431,19,0,21,213,2017-11-09 06:44:16,2017-11-09 06:45:06,1,0:00:50
87491,131817,19,6,29,213,2017-11-07 12:59:11,2017-11-07 13:00:22,1,0:01:11
88104,5314,83,0,21,171,2017-11-06 23:07:45,2017-11-06 23:16:28,1,0:08:43
88250,236040,19,0,0,213,2017-11-08 14:29:55,2017-11-08 14:30:55,1,0:01:00
88569,318873,19,97,24,213,2017-11-09 08:44:56,2017-11-09 08:46:04,1,0:01:08
90243,147184,5,1,61,113,2017-11-07 07:04:38,2017-11-07 07:05:11,1,0:00:33
90568,179080,116,1,35,101,2017-11-07 04:30:20,2017-11-07 04:30:44,1,0:00:24
90954,178824,5,1,27,113,2017-11-07 08:49:16,2017-11-07 08:49:54,1,0:00:38
91153,311255,8,1,19,145,2017-11-09 04:34:37,2017-11-09 08:34:40,1,4:00:03
91239,244431,19,0,24,213,2017-11-08 14:08:55,2017-11-08 14:09:52,1,0:00:57
91997,351158,29,1,19,213,2017-11-09 13:27:29,2017-11-09 13:32:51,1,0:05:22
92322,88914,32,1,19,21,2017-11-07 14:31:43,2017-11-07 15:12:59,1,0:41:16
92628,358438,34,1,13,243,2017-11-08 23:33:47,2017-11-08 23:53:53,1,0:20:06
93460,263187,29,1,26,101,2017-11-08 07:03:04,2017-11-08 07:03:53,1,0:00:49
93539,268081,45,1,17,5,2017-11-08 11:23:36,2017-11-08 11:25:09,1,0:01:33
93842,346361,115,1,22,203,2017-11-09 15:14:10,2017-11-09 15:15:34,1,0:01:24
93993,265917,19,0,24,213,2017-11-08 10:09:20,2017-11-08 10:15:57,1,0:06:37
94354,336420,5,1,7,113,2017-11-09 11:48:37,2017-11-09 11:49:13,1,0:00:36
94370,351271,29,1,19,213,2017-11-09 08:01:54,2017-11-09 08:07:09,1,0:05:15
94450,93542,19,0,0,347,2017-11-07 03:14:10,2017-11-07 03:17:23,1,0:03:13
94867,256295,5,1,4,113,2017-11-08 12:06:31,2017-11-08 12:07:07,1,0:00:36
95056,5281,35,1,13,21,2017-11-09 00:19:02,2017-11-09 00:21:23,1,0:02:21
95330,260575,45,1,18,5,2017-11-08 06:21:05,2017-11-08 06:21:17,1,0:00:12
95484,288079,261,0,0,243,2017-11-09 09:23:05,2017-11-09 09:24:31,1,0:01:26
97099,242468,45,1,19,5,2017-11-09 10:19:18,2017-11-09 11:20:15,1,1:00:57
97803,257270,19,0,29,213,2017-11-08 14:56:48,2017-11-08 14:58:38,1,0:01:50
98351,232820,19,16,0,213,2017-11-08 15:37:12,2017-11-08 15:37:58,1,0:00:46
99562,6481,5,1,13,377,2017-11-08 04:57:34,2017-11-08 15:09:40,1,10:12:06