### Analysing AddTracking Data for the Kaggle TalkingData AdTracking Fraud Detection Challenge

In [1]:
import pandas as pd
import numpy as np`/
import matplotlib.pyplot as plt
from datetime import datetime
import dateutil
print(datetime.strptime('2017-11-07 09:30:38', '%Y-%m-%d %H:%M:%S'))

2017-11-07 09:30:38

In [2]:
# get data in basic table form
df = pd.read_csv("/Users/filiprelanderMBP2014/Dropbox/Cornell_S2018/CS6700/Project/repo/CS6700kagglechallenge/train_sample.csv")

In [3]:
#create new column for time_to_attribution
df['time_to_attribution'] = df.apply(lambda row: datetime.strptime(row['attributed_time'], '%Y-%m-%d %H:%M:%S') - datetime.strptime(row['click_time'], '%Y-%m-%d %H:%M:%S') if isinstance(row['attributed_time'], str) else '', axis=1)
df

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,time_to_attribution
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0,
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0,
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0,
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0,
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0,
5,93663,3,1,17,115,2017-11-09 01:22:13,NaN,0,
6,17059,1,1,17,135,2017-11-09 01:17:58,NaN,0,
7,121505,9,1,25,442,2017-11-07 10:01:53,NaN,0,
8,192967,2,2,22,364,2017-11-08 09:35:17,NaN,0,
9,143636,3,1,19,135,2017-11-08 12:35:26,NaN,0,
10,73839,3,1,22,489,2017-11-08 08:14:37,NaN,0,
11,34812,3,1,13,489,2017-11-07 05:03:14,NaN,0,
12,114809,3,1,22,205,2017-11-09 10:24:23,NaN,0,
13,114220,6,1,20,125,2017-11-08 14:46:16,NaN,0,
14,36150,2,1,13,205,2017-11-07 00:54:09,NaN,0,
15,72116,25,2,19,259,2017-11-08 23:17:45,NaN,0,
16,5314,2,1,2,477,2017-11-09 07:33:41,NaN,0,
17,106598,3,1,20,280,2017-11-09 03:44:35,NaN,0,
18,72065,20,2,90,259,2017-11-06 23:14:08,NaN,0,
19,37301,14,1,13,349,2017-11-06 20:07:00,NaN,0,
20,28735,12,1,19,265,2017-11-09 09:55:22,NaN,0,
21,66918,64,1,25,459,2017-11-08 17:01:58,NaN,0,
22,25761,9,1,10,215,2017-11-08 02:05:37,NaN,0,
23,8362,7,1,19,101,2017-11-07 10:30:00,NaN,0,
24,45257,3,1,18,280,2017-11-07 01:35:31,NaN,0,
25,145896,64,1,13,459,2017-11-07 03:58:58,NaN,0,
26,162976,3,1,13,115,2017-11-07 16:19:05,NaN,0,
27,52432,1,1,13,115,2017-11-07 17:22:52,NaN,0,
28,135690,12,1,40,122,2017-11-07 06:39:04,NaN,0,
29,139137,12,1,13,497,2017-11-07 10:11:50,NaN,0,
...,...,...,...,...,...,...,...,...,...
99970,57451,3,1,6,130,2017-11-09 13:35:55,NaN,0,
99971,22529,3,1,22,173,2017-11-08 00:30:44,NaN,0,
99972,118977,15,1,25,245,2017-11-07 05:02:52,NaN,0,
99973,153487,2,1,42,477,2017-11-09 00:59:38,NaN,0,
99974,13487,14,1,19,379,2017-11-08 08:08:40,NaN,0,
99975,34029,14,1,13,467,2017-11-09 15:32:57,NaN,0,
99976,6908,14,1,18,123,2017-11-07 22:59:12,NaN,0,
99977,5788,18,1,58,439,2017-11-09 14:22:21,NaN,0,
99978,190943,7,1,13,101,2017-11-09 11:47:49,NaN,0,
99979,19162,9,1,37,489,2017-11-09 11:19:28,NaN,0,
99980,111025,14,1,41,349,2017-11-08 12:58:11,NaN,0,
99981,15651,10,1,1,377,2017-11-09 06:50:25,NaN,0,
99982,5314,12,1,41,259,2017-11-09 02:09:20,NaN,0,
99983,51379,3,1,41,135,2017-11-07 01:48:00,NaN,0,
99984,185961,27,1,13,122,2017-11-07 05:02:01,NaN,0,
99985,61500,3,1,10,280,2017-11-09 01:50:53,NaN,0,
99986,119614,2,1,19,219,2017-11-07 11:27:54,NaN,0,
99987,41851,11,1,28,319,2017-11-08 13:19:42,NaN,0,
99988,69449,6,1,13,125,2017-11-09 13:53:30,NaN,0,
99989,92730,3,1,19,379,2017-11-07 11:02:08,NaN,0,
99990,84388,9,1,22,107,2017-11-09 04:21:28,NaN,0,
99991,43374,1,1,18,134,2017-11-09 12:42:34,NaN,0,
99992,125061,12,1,13,328,2017-11-07 09:33:14,NaN,0,
99993,146258,3,1,13,280,2017-11-09 03:03:17,NaN,0,
99994,147153,13,1,13,477,2017-11-07 07:34:13,NaN,0,
99995,124883,11,1,19,122,2017-11-09 13:25:41,NaN,0,
99996,85150,9,1,13,244,2017-11-07 11:25:43,NaN,0,
99997,18839,3,1,13,19,2017-11-08 11:38:42,NaN,0,
99998,114276,15,1,12,245,2017-11-08 17:55:21,NaN,0,
99999,119349,14,1,15,401,2017-11-07 14:32:27,NaN,0,

In [54]:
df['click_time_dt'] = df.apply(lambda row: (dateutil.parser.parse(row['click_time'], dayfirst=True) - datetime.utcfromtimestamp(0)).total_seconds() , axis=1)

#clik frequency
#print(type(df['click_time']))
#ls = [df['click_time_dt'][0], df['click_time_dt'][1]]
#print(min(ls))
#print(df.isnull().sum())
print(df['ip'].nunique())
ip = df.groupby('ip')['ip']
min_time = df.groupby('ip')["click_time_dt"].min()
max_time = df.groupby('ip')["click_time_dt"].max()
num_clicks = df.groupby('ip')["click_time_dt"].count()

freq = num_clicks / (max_time - min_time)
import math
f_list = []
for f in freq:
    if not math.isinf(f):
        f_list.append(f)
freq2 = sum(f_list)/len(f_list)
period = 1/freq2
arr = np.array([f_list])
stdev = np.std(arr)
outliers = arr[(arr - np.mean(arr)) > 2 * np.std(arr)]
print(outliers)
np.max(arr)

#gfreq = freq.apply(math.isinf)
#print(gfreq)
#gfreq.mean()
#print(df.groupby('ip')) 
#df
#df['first_click_time'] = df.groupby('ip').min()['click_time']
#df['last_click_time'] = df.groupby('ip').click_time.max()
#df['first_last_click'] = pd.to_datetime(df['last_click_time']) - pd.to_datetime(df['first_click_time'])
#df['first_last_click_seconds'] = df['first_last_click'].dt.total_seconds()

#df['num_clicks'] = df.groupby('ip').count()
#df['click_freq'] = df['num_clicks'] / df['first_last_click_seconds']

#df


# create dataframe for is_attributed == 1
#df_ia1 = df.loc[df['time_to_attribution'] != '']

34857
[0.125      0.08       1.         2.         2.         0.07407407
 2.         0.14285714 2.         0.08       0.08695652 0.22222222
 0.22222222 0.15384615 0.33333333 0.0952381  0.08       0.28571429
 2.        ]

In [5]:
# create dataframe for is_attributed == 0
df_ia0 = df.loc[df['time_to_attribution'] == '']

In [6]:
# add column time_to_attribution_seconds to df1
df_ia1['time_to_attribution_seconds'] = df_ia1.apply(lambda row: row['time_to_attribution'].total_seconds(), axis=1)

NameError: name 'df_ia1' is not defined

In [7]:
# average attribution time
pd.Timedelta(df_ia1['time_to_attribution_seconds'].mean(),unit='s')

NameError: name 'df_ia1' is not defined

In [8]:
# average clicks per ip is_attributed = 0 and 1
df2 = df[['ip']].copy()
df2.groupby('ip').ip.count().mean()

2.868864216656626

In [9]:
# average clicks per ip is_attributed = 1
df_ia1.groupby('ip').ip.count().mean()

NameError: name 'df_ia1' is not defined

In [10]:
# average clicks per ip is_attributed = 0
df_ia0.groupby('ip').ip.count().mean()

2.8747226784222204

In [11]:
# add freq_of_ip to df1
df_ia1['number_of_clicks'] = df2.groupby('ip')['ip'].transform('count')

NameError: name 'df_ia1' is not defined

In [12]:
Series_ip_freq = df['ip'].value_counts()
#Series_ip_freq

In [13]:
#get list of all ips with time_to_attribution_seconds column
df_ia = pd.concat([df_ia0, df_ia1], axis=0)

NameError: name 'df_ia1' is not defined

In [14]:
# dictionary of timestamps for every click from every ip

ip_dict = {}
for index, row in df_ia.iterrows():
    ip = row['ip']
    if ip not in ip_dict:
        ip_dict[ip] = [row['click_time']]
    else:
        ip_dict[ip].append(row['click_time'])
ip_dict

NameError: name 'df_ia' is not defined

In [15]:
df_gb_ip = df_ia.groupby('ip')

for ip, group in df_gb_ip:
    df_gb_ip['first_click_time'] = df_gb_ip[ip].click_time.min()

NameError: name 'df_ia' is not defined

In [16]:


def min_click_time(groupby_obj):
    return groupby_obj.click_time.min()

def max_click_time(groupby_obj):
    return groupby_obj.click_time.max()

def first_last_click(last_click_time, first_click_time):
    timedelta = to_timedelta(pd.to_datetime(last_click_time) - pd.to_datetime(first_click_time))
    return timedelta.total_seconds()

def click_freq(clicks, seconds):
    return clicks/seconds

#======
df_ia["first_click_time"]

df_ia_gp = df_ia.groupby('ip')

NameError: name 'df_ia' is not defined

In [17]:
df_ia['first_click_time'] = df_ia.groupby('ip').click_time.min()
df_ia['last_click_time'] = df_ia.groupby('ip').click_time.max()
df_ia['first_last_click'] = pd.to_datetime(df_ia['last_click_time']) - pd.to_datetime(df_ia['first_click_time'])
df_ia['first_last_click_seconds'] = df_ia['first_last_click'].dt.total_seconds()
df_ia['click_freq'] = df_ia['number_of_clicks'] / df_ia['first_last_click_seconds']

df_gb_ip = df_ia.groupby('ip')
g5314 = df_gb_ip.get_group(5314)
g5314
#print(df_ia.iloc[0]['ip'])

NameError: name 'df_ia' is not defined

In [18]:
uq_df2 = df2.ip.unique()
print(len(uq_df2))

34857

In [19]:
#df_ip = df_ia.groupby('ip')
#df_ia['ip'].apply(lambda x: x.describe())

In [20]:
#max_min_dict = {}

max_min_list = []
unq_ips = df2['ip'].unique()

for ip in unq_ips:
    max_min_list.append((ip,(datetime.strptime(max(ip_dict[ip]), '%Y-%m-%d %H:%M:%S') - datetime.strptime(min(ip_dict[ip]), '%Y-%m-%d %H:%M:%S')).total_seconds()))

KeyError: 87540

In [21]:
df2

           ip
0       87540
1      105560
2      101424
3       94584
4       68413
5       93663
6       17059
7      121505
8      192967
9      143636
10      73839
11      34812
12     114809
13     114220
14      36150
15      72116
16       5314
17     106598
18      72065
19      37301
20      28735
21      66918
22      25761
23       8362
24      45257
25     145896
26     162976
27      52432
28     135690
29     139137
...       ...
99970   57451
99971   22529
99972  118977
99973  153487
99974   13487
99975   34029
99976    6908
99977    5788
99978  190943
99979   19162
99980  111025
99981   15651
99982    5314
99983   51379
99984  185961
99985   61500
99986  119614
99987   41851
99988   69449
99989   92730
99990   84388
99991   43374
99992  125061
99993  146258
99994  147153
99995  124883
99996   85150
99997   18839
99998  114276
99999  119349

[100000 rows x 1 columns]

In [22]:
print(len(max_min_dict))

NameError: name 'max_min_dict' is not defined

In [23]:
df_ia_gp = df_ia.groupby('ip')
df_ia_gp.getgroup(5314)

NameError: name 'df_ia' is not defined

In [24]:
unique_ip = df_ia['ip'].unique()
print(len(unique_ip))
df_ip['ip'] = pd.DataFrame(unique_ip)

df_ip

NameError: name 'df_ia' is not defined

In [25]:
unique_ip

NameError: name 'unique_ip' is not defined